<md-content id="home" layout-padding layout="row" layout-sm="column"> 
	<div id="containshomepageheader">
		<div id="homePageHeader" class="sm-display-1" show-gt-sm>
			<h1>Cunt Soap</h1><br>
			<p id="landingpagecopy"> We do some things that you might be interested in... COPY COPY COPY</p>
			<h2>Join the waiting list</h2>
			<form id="waitlistform">
				<input type="email" name="email" placeholder="Email Address">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</md-content>


