<body>
	<div id="backgroundimage"></div>
<md-content id="home" layout-padding layout="row" layout-sm="column"> 
	<div id="homePageHeader" class="sm-display-1" show-gt-sm>
		<h1>Cunt Soap</h1><br>
		<h2>Join the waiting list</h2>
		<form>
			<input type="email" name="email" placeholder="Email Address">
			<input type="submit" value="Submit">
		</form>
	</div>
</md-content>
</body>


	<!-- <div flex class="welcome">
		<img src="/images/kitty.png">
		<p class="md-body-1"><strong>{{ uiMe.username || 'Hooray' }}!</strong> You've found Cunt Soap.  We hope you like it!</p>
	</div>

	<md-content flex class="why">
	
			<h1 class="md-display-2" hide-gt-sm>Cunt Soap</h1>

			<p class="md-body-1 lead">Soap made by and for the lady parts</p>
	</md-content> -->
