<div ng-controller="ProductsCtrl">
<form>
	<label>Fragrance {{showThisFragrance}}<select ng-model="showThisFragrance" name="Fragrance"> </label>
		<option ng-click="showThisFragrance=fragrance" ng-value="fragrance" ng-repeat="fragrance in fragrances track by $index">{{fragrance}}</option>
	</select>
	<label>Charity <select name="Charity"></label>
		<option value="volvo">Volvo</option>
	</select>
	<label>Additives <select name="Additives"></label>
		<option value="volvo">Volvo</option>
	</select>

</form>
</div>