<body>
<h1>Products</h1>

	<div class="productsClass" ng-repeat="product in uiProducts | limitTo: 8" ng-style="{'background-image':'url({{product.photoUrl}})'}" style="background-repeat: no-repeat">
		<div id="slide" class="productTitleAndCharity" ng-class="{moveTitle: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
			<div>{{product.title}}</div>
			<div class="doNotShowCharity">{{product.charity}}</div>
			<div class="productDescription">{{product.description}}</div>
		</div>
	</div>
</body>
