<h1>Products</h1>

	<div ng-include="'templates/brochure/products-toolbar.html'"> LOOK AT ME IM A DIV </div>

	<div class="productsClass" ng-repeat="product in uiProducts | limitTo: 8" ng-style="{'background-image':'url({{product.photoUrl}})'}" style="background-repeat: no-repeat">
		<div class="productTitleAndCharity" ng-class="{moveTitleBox: hover, moveTitleBoxDown: !hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
			<h2>{{product.title}}</h2>
			<h4>{{product.charity}}</h4>
<!-- 			<button ng-click= "alertaddToCart? function?"> Add to Cart </button> just thinking of the future-->
			<div class="productDescription"><p>{{product.description}}</p></div>
		</div>
	</div>

