
.productsClass {

	display: inline-block;
	vertical-align: top;
	height: 350px;
	width: 350px;
	margin: 5px;
	border: 1px solid black;
	background-position: center center;
	/*padding: 100%;*/
	position: relative;

}

a {
	position: absolute; 
    bottom: 0; 

}

.productDescription {
	background: white;
	color: orange;
	position: absolute; 
    bottom: 0; 
}

