/**
 * Homepage styling
 */
body {
  background-image: url("/images/DeathtoStock_Clementine1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

// #backgroundimage{
//     display: inline-block;
//     width: 100%;
//     font-size: 0;
//     line-height: 0;
//     vertical-align: middle;
//     background-size: 100%;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;
//     background-image: url("/images/DeathtoStock_Clementine1.jpg"); 
// }
//    	@media only screen and (max-width: 320px) {
// 		#backgroundimage { 
//         	background-image: url(smallimage.jpg); 
//             }
//         }
#homePageHeader{
	color: red;
	text-align: center;
	width: 100%;

}

// #home{
// 	margin-left: auto;
// 	margin-right: auto;
// 	.welcome{
// 		img{
// 			width: 100%;
// 			max-width: 350px;
// 			height: auto;
// 			margin: 0;
// 		}
// 	}
// 	.why{
// 		text-align: left;
// 		margin: 0 auto;
// 		h1{
// 			text-align: center;
// 		}
// 		md-list{
// 			padding-left: 15px;
// 		}
// 	}
// }

// @media(min-width: @layout-breakpoint-sm){
// 	#home{
// 		.welcome{
// 			//padding-top: 50px;
// 		}
// 	}
// }

